.my-first-list a {
  display: block;
}

.my-first-list a::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: purple;
  transform: rotate(45deg);
  margin-right: 8px;
}

.my-first-list a::after {
  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: red;
  border-radius: 50%;
}

.my-second-list a::before {
  content: '';
  display: inline-block;
  background-color: pink;
  border-radius: 50%;
}

.my-second-list a::after {
  content: '';
  display: inline-block;
  transform: rotate(45deg);
  background-color: blue;
  height: 10px;
  width: 10px;
  margin-left: 8px;
}

.my-second-list a {
  display: block;
}
